
@{
    ViewBag.Title = "ApproveArchive";
    //Layout = "~/Views/Shared/_NewLayout.cshtml";

    int id = (int)ViewBag.RecordId;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ApproveSwap</title>
</head>
<body>
    <link href="~/front_template/HTML/css/popup.css" rel="stylesheet" />
    <script src="~/Scripts/moment.js"></script>

    <script language="JavaScript" type="text/javascript">

        $(document).ready(function () {
            //var xx = id;
             var loginVAr = "check login";
            setTimeout(function () {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("checkLogin", "Home")',
                        async: true,
                        data: {

                            loginVAr: loginVAr,

                        },
                        error: function (data) {
                            debugger;

                            var url = "";
                                url = '@Url.Action("NewHome", "Home")';
                        },
                        success: function (data) {

                            if (data.status == false) {

                                pause_sensor = false;

                                var url = "";
                                url = '@Url.Action("NewHome", "Home")';
                                window.open(
                                    url,
                                    '_self');

                            }
                            else {

                                //url = '@Url.Action("Default", "Home")';
                                window.open(
                                    url,
                                    '_self');

                            }

                        },


                    });


            }, 200);

            $("#wrongATC").attr("disabled", "disabled");
            $("#txtRequestDate").attr("disabled", "disabled");
            $("#txtRequestBy").attr("disabled", "disabled");
            $("#txtReason").attr("disabled", "disabled");

            var token = $('[name=__RequestVerificationToken]').val();
            var bb = @ViewBag.RecordId;
                setTimeout(function () {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("DoApproveATCArchiveFetch", "Home")',
                        async: true,
                        data: {
                            __RequestVerificationToken: token,
                            id: bb,

                        },
                        error: function (data) {
                            debugger;


                            alert(data);
                        },
                        success: function (data) {
                            if (data.status == false) {

                                pause_sensor = false;
                                alert(data.msg);
                                console.log(data.excptn);


                            }
                            else {
                                $("#wrongATC").val(data.atc_no);
                                $("#txtReason").val(data.seal);
                                var dates = new Date(parseInt(data.tare_time.substr(6)));
                                var actualDate = dates.toDateString()
                                //var newDate = moment(data.tare_time).format('DD/MM/YYYY HH:mm');
                                $("#txtRequestBy").val(data.operatorID);
                                $("#txtRequestDate").val(actualDate);


                            }

                        },


                    });
                })



            $("#btnReject").on('click', function () {
                var comment = $("#txtComments").val();

                var msg = "";
                if (comment == "") { msg = "Please enter Rejection Comments! \n"; }

                if (msg != "") {
                    alert(msg);

                    return false;
                }

                var token = $('[name=__RequestVerificationToken]').val();
                var bb = @ViewBag.RecordId;

                setTimeout(function () {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("RejectATCArchive", "Home")',
                        async: true,
                        data: {
                            __RequestVerificationToken: token,
                            id: bb,
                            comment: comment,

                        },
                        error: function (data) {
                            debugger;


                            alert(data);
                        },
                        success: function (data) {
                            if (data.status == false) {

                                pause_sensor = false;
                                //$("#btnATCSearch").removeAttr("disabled");
                                alert(data.msg);
                                console.log(data.excptn);


                            }
                            else {
                                debugger;
                                $("#atc").val("");
                                $("#wrongATC").val("");
                                $("#txtReason").val("");
                                $("#txtRequestBy").val("");
                                $("#txtRequestDate").val("");
                                $("#txtComments").val("");


                                alert(data.msg);

                                var url = "";
                                url = '@Url.Action("ATCArchiveRequests", "Home")';

                                window.open(url, "_self");


                            }


                        },


                    });
                })


            });

            $("#btnApprove").on('click', function () {
                var comment = $("#txtComments").val();


                var msg = "";
                if (comment == "") { msg = "Please enter Approval Comments! \n"; }


                if (msg != "") {
                    alert(msg);

                    return false;
                }


                var token = $('[name=__RequestVerificationToken]').val();
                var bb = @ViewBag.RecordId;
                setTimeout(function () {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("DoActualATCArchive", "Home")',
                        async: true,
                        data: {
                            __RequestVerificationToken: token,
                            id: bb,
                            comment: comment,

                        },
                        error: function (data) {
                            debugger;


                            alert(data);
                        },
                        success: function (data) {
                            if (data.status == false) {

                                pause_sensor = false;
                                //$("#btnATCSearch").removeAttr("disabled");
                                alert(data.msg);
                                console.log(data.excptn);


                            }
                            else {
                                debugger;
                                $("#atc").val("");
                                $("#wrongATC").val("");
                                $("#txtReason").val("");
                                $("#txtRequestBy").val("");
                                $("#txtRequestDate").val("");
                                $("#txtComments").val("");

                                alert(data.msg);

                                var url = "";
                                url = '@Url.Action("ATCArchiveRequests", "Home")';

                                window.open(url, "_self");


                            }

                        },


                    });
                })
            });


        });

    </script>




    <div class="container">

        <div class="mws-panel-body no-padding">
            <form class="mws-form" id="submit_form">
                @Html.AntiForgeryToken()
                <div class="mws-form-inline">
                    <div class="mws-form-row bordered">
                        <label class="mws-form-label">ATC FOR ARCHIVING</label>
                        <div class="mws-form-item">
                            <input type="text" id="wrongATC" class="large">
                        </div>
                    </div>

                </div>

                @*<div class="mws-form-inline">
                    <div class="mws-form-row bordered">
                        <label class="mws-form-label">CORRECT ATC</label>
                        <div class="mws-form-item">
                            <input type="text" id="correctATC" class="large">
                        </div>
                    </div>

                </div>

                <div class="mws-form-inline">
                    <div class="mws-form-row bordered">
                        <label class="mws-form-label">TRIP ID</label>
                        <div class="mws-form-item">
                            <input type="text" id="txtTrip" class="large">
                        </div>
                    </div>

                </div>*@

                <div class="mws-form-inline">
                    <div class="mws-form-row bordered">
                        <label class="mws-form-label">REQUEST DATE</label>
                        <div class="mws-form-item">
                            <input type="text" id="txtRequestDate" class="large">
                        </div>
                    </div>

                </div>

                <div class="mws-form-inline">
                    <div class="mws-form-row bordered">
                        <label class="mws-form-label">REQUESTED BY</label>
                        <div class="mws-form-item">
                            <input type="text" id="txtRequestBy" class="large">
                        </div>
                    </div>

                </div>

                <div class="mws-form-inline">
                    <div class="mws-form-row bordered">
                        <label class="mws-form-label">ARCHIVE REASON</label>
                        <div class="mws-form-item">
                            <input type="text" id="txtReason" class="large">
                        </div>
                    </div>

                </div>

                <div class="mws-form-inline">

                    <div class="mws-form-row">
                        <label class="mws-form-label">COMMENTS</label>
                        <div class="mws-form-item">
                            <textarea rows="1" cols="" class="large" id="txtComments"></textarea>
                        </div>
                    </div>

                </div>


                <div class="mws-button-row">

                    <button id="btnApprove" class="btn btn-success" type="button"><i class="fa fa-key"></i> APPROVE</button>
                    <button id="btnReject" class="btn btn-danger" type="button"><i class="fa fa-key"></i> REJECT</button>


                </div>
            </form>
        </div>

    </div>


</body>
</html>

