
@{
    ViewBag.Title = "CancelTrip";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<head>

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</head>

<body>
    <script language="JavaScript" type="text/javascript">

        $(document).ready(function () {

             var loginVAr = "check login";
            setTimeout(function () {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("checkLogin", "Home")',
                        async: true,
                        data: {

                            loginVAr: loginVAr,

                        },
                        error: function (data) {
                            debugger;

                            var url = "";
                                url = '@Url.Action("NewHome", "Home")';
                        },
                        success: function (data) {

                            if (data.status == false) {

                                pause_sensor = false;

                                var url = "";
                                url = '@Url.Action("NewHome", "Home")';
                                window.open(
                                    url,
                                    '_self');

                            }
                            else {

                                //url = '@Url.Action("Default", "Home")'; //Default
                                window.open(
                                    url,
                                    '_self');

                            }

                        },


                    });


            }, 200);



            $("#btnTripCancel").on('click', function () {



                var trip = $("#trip").val();             



                var msg = "";
                if (trip == "") { msg = "Please enter TRIP ID! \n" ; }
                


                if (msg != "") {
                    alert(msg);


                    return false;
                }

                var token = $('[name=__RequestVerificationToken]').val();
                //debugger;
                 setTimeout(function () {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("DoCancelDDSTrip", "Home")',
                        async: true,
                        data: {
                            __RequestVerificationToken: token,
                            trip: trip,
                            

                        },
                        error: function (data) {
                            debugger;
                            alert(data);
                        },
                        success: function (data) {
                            if (data.status == false) {

                                pause_sensor = false;
                                alert(data.msg);

                            }
                            else {
                                alert(data.msg);
                                $("#trip").val("");
                                
                                 var url = "";
                                url = '@Url.Action("CancelTrip", "Home")'; //Default

                                //window.open(url, "_self");

                            }

                        },


                    });





                 }, 200);
            });

        });

    </script>

    <div class="container">
        <div class="mws-panel grid_4">
            <div class="mws-panel-header">
                <span>CANCEL Trip ID for DDS ONLY</span>
            </div>
            <div class="mws-panel-body no-padding">
                <form class="mws-form" id="submit_form">
                    @Html.AntiForgeryToken()
                    <div class="mws-form-inline">
                        <div class="mws-form-row bordered">
                            <label class="mws-form-label">ENTER TRIP ID*</label>
                            <div class="mws-form-item">
                                <input type="text" id="trip" placeholder="enter TRIP ID..." class="large">
                            </div>
                        </div>

                    </div>

                   
                    <div class="mws-button-row">

                        <button id="btnTripCancel" class="btn btn-primary" type="button"><i class="fa fa-key"></i> CANCEL DDS TRIP</button>


                    </div>
                </form>
            </div>
        </div>




    </div>

</body>



