
@{
    ViewBag.Title = "Gate_Modify";
    Layout = "~/Views/Shared/_NewLayout.cshtml";

    String can_approves = Session["can_approve"].ToString();
    if (can_approves != "True")
    {

        Response.Redirect("/Home/NotAllowed");
    }
}

<head>

    @*<script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@

</head>

<body>
    <script language="JavaScript" type="text/javascript">

        $(document).ready(function () {

             var loginVAr = "check login";
            setTimeout(function () {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("checkLogin", "Home")',
                        async: true,
                        data: {

                            loginVAr: loginVAr,

                        },
                        error: function (data) {
                            debugger;

                            var url = "";
                                url = '@Url.Action("NewHome", "Home")';
                        },
                        success: function (data) {

                            if (data.status == false) {

                                pause_sensor = false;

                                var url = "";
                                url = '@Url.Action("NewHome", "Home")';
                                window.open(
                                    url,
                                    '_self');

                            }
                            else {

                                //url = '@Url.Action("Default", "Home")'; //Default
                                window.open(
                                    url,
                                    '_self');

                            }

                        },


                    });


            }, 200);


            $("#btnUpdate").hide();
            $("#btnCancel").hide();
            $("#truckDiv").hide();
            $("#tripDiv").hide();
            $("#senderDiv").hide();
            $("#stoLocDiv").hide();
            $("#destinationDiv").hide();
            $("#transDiv").hide();
            $("#driverDiv").hide();
            $("#receiverDiv").hide();
            $("#shippingPointDiv").hide();
            $("#productDiv").hide();
            $("#parentSalesOrderDiv").hide();
            

            //$("#lblGO").hide();



            $("#btnATCSearch").on('click', function () {
                var atc = $("#atc").val();


                var msg = "";
                if (atc == "") { msg = "Please enter ATC! \n"; }


                if (msg != "") {
                    alert(msg);

                    return false;
                }
                $("#btnATCSearch").attr("disabled", "disabled");

                var token = $('[name=__RequestVerificationToken]').val();
                setTimeout(function () {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("DoFetchATCDetailsGate", "Home")',
                        async: true,
                        data: {
                            __RequestVerificationToken: token,
                            atc: atc,

                        },
                        error: function (data) {
                            debugger;

                            alert(data);
                        },
                        success: function (data) {
                            if (data.status == false) {

                                pause_sensor = false;
                                $("#btnATCSearch").removeAttr("disabled");
                                alert(data.msg);
                                console.log(data.excptn);


                            }
                            else {
                                //alert('Receiver Updated successfully');
                                $("#atc").val(data.atc);
                                $("#txtTruckNum").val(data.truckNumber);
                                $("#txtDriverName").val(data.driverName);
                                $("#txtCustomer").val(data.customer);
                                $("#txtLicense").val(data.License);
                                $("#txtDestination").val(data.destination);
                                $("#txtTransporter").val(data.transporter);
                                $("#txtStatus").val(data.statusDB);
                                $("#txtTransType").val(data.transType);
                                $("#txtShippingPoint").val(data.ShippingPoint);
                                $("#txtProduct").val(data.product);
                                $("#txtParentSO").val(data.parentSO);


                                //$("#atc").val(data.atc);
                                //$("#txtTruckNum").val(data.truckNumber);
                                //$("#txtDriverName").val(data.driverName);
                                //$("#txtCustomer").val(data.customer);
                                //$("#txtLicense").val(data.License);
                                //$("#txtDestination").val(data.destination);
                                //$("#txtTransporter").val(data.transporter);
                                //$("#txtStatus").val(data.statusDB);
                                //$("#txtTransType").val(data.transType);
                                //$("#txtShippingPoint").val(data.ShippingPoint);
                                //$("#txtProduct").val(data.product);
                                //$("#txtParentSO").val(data.parentSO);
                               

                                $("#atc").attr("disabled", "disabled");
                                $("#txtStatus").attr("disabled", "disabled");
                               

                                $("#btnUpdate").show();
                                $("#btnCancel").show();
                                $("#truckDiv").show();
                                $("#tripDiv").show();
                                $("#senderDiv").show();
                                $("#stoLocDiv").show();
                                $("#destinationDiv").show();
                                $("#transDiv").show();
                                $("#driverDiv").show();
                                $("#receiverDiv").show();
                                $("#shippingPointDiv").show();
                                $("#productDiv").show();
                                $("#parentSalesOrderDiv").show();
                                 //var url = "";
                                //url = '@Url.Action("Gate_Modify", "Home")'; //Default


                            }

                        },


                    });
                })
            });


            $("#btnUpdate").on('click', function () {

                var atc = $("#atc").val();
                var truckNum = $("#txtTruckNum").val();
                var driver = $("#txtDriverName").val();
                var customer = $("#txtCustomer").val();
                var license = $("#txtLicense").val();
                var destination = $("#txtDestination").val();
                var transporter = $("#txtTransporter").val();
                var statusDB = $("#txtStatus").val();
                var transType = $("#txtTransType").val();
                var shippingPoint = $("#txtShippingPoint").val();
                var product = $("#txtProduct").val();
                var parentSO = $("#txtParentSO").val();




                var msg = "";
                if (atc == "") { msg = "Please enter ATC! \n" ; }
                if (truckNum == "") { msg += "Please enter truck numbr! \n"; }
                if (driver == "") { msg += "Please enter driver name! \n"; }
                if (customer == "") { msg += "Please enter storage location! \n"; }
                if (statusDB == "") { msg += "Please enter trip ID! \n"; }
                if (transType == "") { msg += "Please enter receiver! \n"; }
                if (product == "") { msg += "Please enter product! \n"; }


                if (msg != "") {
                    alert(msg);

                    return false;
                }

                var token = $('[name=__RequestVerificationToken]').val();
                //debugger;
                 setTimeout(function () {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("DoModifyEntriesGate", "Home")',
                        async: true,
                        data: {
                            __RequestVerificationToken: token,
                            atc: atc,
                            truckNum: truckNum,
                            driver: driver,
                            customer: customer,
                            transporter: transporter,
                            license: license,
                            destination: destination,
                            statusDB: statusDB,
                            transType: transType,
                            shippingPoint: shippingPoint,
                            product: product,
                            parentSO: parentSO,


                        },
                        error: function (data) {
                            debugger;

                            alert(data);
                        },
                        success: function (data) {
                            if (data.status == false) {

                                pause_sensor = false;
                                alert(data.msg);

                            }
                            else {



                                alert(data.msg);
                                $("#atc").val("");
                                $("#txtTruckNum").val("");
                                $("#txtDriverName").val("");
                                $("#txtCustomer").val("");
                                $("#txtLicense").val("");
                                $("#txtDestination").val("");
                                $("#txtTransporter").val("");
                                $("#txtStatus").val("");
                                $("#txtTransType").val("");
                                $("#txtParentSO").val("");
                                $("#txtProduct").val("");
                                $("#txtParentSO").val("");
                                $("#txtShippingPoint").val("");

                               

                                $("#btnUpdate").hide();
                                $("#btnCancel").hide();
                                $("#truckDiv").hide();
                                $("#tripDiv").hide();
                                $("#senderDiv").hide();
                                $("#stoLocDiv").hide();
                                $("#destinationDiv").hide();
                                $("#transDiv").hide();
                                $("#driverDiv").hide();
                                $("#receiverDiv").hide();
                                $("#shippingPointDiv").hide();
                                $("#productDiv").hide();
                                $("#parentSalesOrderDiv").hide();



                                $("#btnATCSearch").removeAttr("disabled");
                                $("#atc").removeAttr("disabled");



                                 var url = "";
                                url = '@Url.Action("Gate_MOdify", "Home")'; //Default


                            }

                        },


                    });





                 }, 200);
            });


             $("#btnCancel").on('click', function () {
                 
                 //var userPreference;

                 if (confirm("ARE YOU SURE YOU WANT TO CANCEL THIS ATC REGISTRATION?") == true) {

                     var atc = $("#atc").val();

                      var token = $('[name=__RequestVerificationToken]').val();
                //debugger;
                 setTimeout(function () {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("DoModifyEntriesGateCancel", "Home")',
                        async: true,
                        data: {
                            __RequestVerificationToken: token,
                            atc: atc,
                        


                        },
                        error: function (data) {
                            debugger;

                            alert(data);
                        },
                        success: function (data) {
                            if (data.status == false) {

                                pause_sensor = false;
                                alert(data.msg);

                            }
                            else {



                                alert(data.msg);
                                $("#atc").val("");
                                $("#txtTruckNum").val("");
                                $("#txtDriverName").val("");
                                $("#txtCustomer").val("");
                                $("#txtLicense").val("");
                                $("#txtDestination").val("");
                                $("#txtTransporter").val("");
                                $("#txtStatus").val("");
                                $("#txtTransType").val("");
                                $("#txtParentSO").val("");
                                $("#txtProduct").val("");
                                $("#txtParentSO").val("");
                                $("#txtShippingPoint").val("");

                               

                                $("#btnUpdate").hide();
                                $("#btnCancel").hide();
                                $("#truckDiv").hide();
                                $("#tripDiv").hide();
                                $("#senderDiv").hide();
                                $("#stoLocDiv").hide();
                                $("#destinationDiv").hide();
                                $("#transDiv").hide();
                                $("#driverDiv").hide();
                                $("#receiverDiv").hide();
                                $("#shippingPointDiv").hide();
                                $("#productDiv").hide();
                                $("#parentSalesOrderDiv").hide();



                                $("#btnATCSearch").removeAttr("disabled");
                                $("#atc").removeAttr("disabled");



                                 var url = "";
                                url = '@Url.Action("Gate_MOdify", "Home")'; //Default


                            }

                        },


                    });





                     }, 200);



                   
                 }
                 else {
                     //userPreference = "Save Canceled!";
                 }

                 //alert(userPreference);

                
            });

        });

    </script>

    <div class="container">

        <div class="mws-panel grid_8">
            <div class="mws-panel-header">
                <span>Modify GATE ENTRY DETAILS</span>
            </div>
            <div class="mws-panel-body no-padding">
                <form class="mws-form" action="form_layouts.html">
                    @Html.AntiForgeryToken()
                    <div class="mws-form-inline">
                        <div class="mws-form-cols">
                            <div class="mws-form-col-5-8">
                                <label class="mws-form-label">ATC*</label>
                                <div class="mws-form-item">
                                    @*<input type="text" id="atc" placeholder="enter ATC..." class="large">*@
                                    <input type="text" id="atc" placeholder="enter ATC..." class="large">
                                </div>
                            </div>
                            <div class="mws-form-col-1-8">
                                <label id="lblGO" class="mws-form-label">.</label>
                                <div class="mws-form-item">
                                    @*<button id="btnATCSearch" class="btn btn-primary" type="button"><i class="fa fa-key"></i> GO</button>*@
                                    <button id="btnATCSearch" class="btn btn-primary" type="button"><i class="fa fa-key"></i> GO</button>
                                </div>
                            </div>
                        </div>
                        <br />

                        <div id="truckDiv" class="mws-form-row">
                            <label class="mws-form-label">Truck Number</label>
                            <div class="mws-form-item">
                                <input type="text" id="txtTruckNum" class="small">

                            </div>
                        </div>
                        <div id="driverDiv" class="mws-form-row">
                            <label class="mws-form-label">Driver Name</label>
                            <div class="mws-form-item">
                                <input type="text" id="txtDriverName" class="small">
                            </div>
                        </div>
                        <div id="stoLocDiv" class="mws-form-row">
                            <label class="mws-form-label">Customer</label>
                            <div class="mws-form-item">
                                <input type="text" id="txtCustomer" class="small">
                            </div>
                        </div>
                        <div id="transDiv" class="mws-form-row">
                            <label class="mws-form-label">License</label>
                            <div class="mws-form-item">
                                <input type="text" id="txtLicense" class="small">
                            </div>
                        </div>
                        <div id="senderDiv" class="mws-form-row">
                            <label class="mws-form-label">Destination</label>
                            <div class="mws-form-item">
                                <input type="text" id="txtDestination" class="small">
                            </div>
                        </div>
                        <div id="destinationDiv" class="mws-form-row">
                            <label class="mws-form-label">Transporter</label>
                            <div class="mws-form-item">
                                <input type="text" id="txtTransporter" class="small">
                            </div>
                        </div>
                        <div id="parentSalesOrderDiv" class="mws-form-row">
                            <label class="mws-form-label">Parent Sales Order</label>
                            <div class="mws-form-item">
                                <input type="text" id="txtParentSO" class="small">
                            </div>
                        </div>
                        <div id="receiverDiv" class="mws-form-row">
                            <label class="mws-form-label">Transaction Type</label>
                            <div class="mws-form-item">
                                <input type="text" id="txtTransType" class="small">
                            </div>
                        </div>

                        <div id="shippingPointDiv" class="mws-form-row">
                            <label class="mws-form-label">Shipping Point</label>
                            <div class="mws-form-item">
                                <input type="text" id="txtShippingPoint" class="small">
                            </div>
                        </div>
                        <div id="productDiv" class="mws-form-row">
                            <label class="mws-form-label">Product</label>
                            <div class="mws-form-item">
                                <input type="text" id="txtProduct" class="small">
                            </div>
                        </div>
                        <div id="tripDiv" class="mws-form-row">
                            <label class="mws-form-label">Weighment Status</label>
                            <div class="mws-form-item">
                                <input type="text" id="txtStatus" class="small">
                            </div>
                        </div>



                    </div>
                    <div class="mws-button-row">

                        
                        <table width: 100%>
                            <tr>
                                <td align="left" width="500">
                                    <button id="btnUpdate" class="btn btn-primary" type="button"><i class="fa fa-key"></i> UPDATE RECORD</button>
                                </td>
                                <td align="right" width="500">
                                    <button id="btnCancel" class="btn btn-danger right " type="button"><i class="fa fa-key"></i> CANCEL ATC</button>
                                </td>
                            </tr>
                        </table>
                        
                    </div>
                </form>
            </div>
        </div>



    </div>

</body>


