
@{
    ViewBag.Title = "MaterialToZSTO";
    Layout = "~/Views/Shared/_NewLayout.cshtml";


    //String can_approves = (Session["can_approve"] != null) ? Session["can_approve"].ToString() : "False";
    String can_approves = Session["can_approve"].ToString();
    if (can_approves != "True")
    {

        Response.Redirect("~/Home/NotAllowed");
    };

    String TranxType = ViewBag.TransType;

    //String WeighInType = Session["Trans_Type"].ToString();
    //String WeighInMatType;
    //if (WeighInType != "InboundZSTO")
    //{
    //    WeighInMatType = "INBOUND ZSTO";

    //}
    //else
    //{
    //    WeighInMatType = "OUTBOUND ZSTO";
    //}

}

<head>

    @*<script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
    <script src="~/Scripts/moment.js"></script>

</head>

<body>
    <script language="JavaScript" type="text/javascript">

        $(document).ready(function () {

             var loginVAr = "check login";
            setTimeout(function () {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("checkLogin", "Home")',
                        async: true,
                        data: {

                            loginVAr: loginVAr,

                        },
                        error: function (data) {
                            debugger;

                            var url = "";
                                url = '@Url.Action("NewHome", "Home")';
                        },
                        success: function (data) {

                            if (data.status == false) {

                                pause_sensor = false;

                                var url = "";
                                url = '@Url.Action("NewHome", "Home")';
                                window.open(
                                    url,
                                    '_self');

                            }
                            else {

                                //url = '@Url.Action("Default", "Home")'; //Default
                                window.open(
                                    url,
                                    '_self');

                            }

                        },


                    });


            }, 200);


            $("#btnUpdate").hide();
            $("#truckDiv").hide();
            $("#tripDiv").hide();
            $("#senderDiv").hide();
            $("#stoLocDiv").hide();
            $("#destinationDiv").hide();
            $("#transDiv").hide();
            $("#driverDiv").hide();
            $("#receiverDiv").hide();
            $("#TruckDiv").hide();
            $("#numberDiv").hide();
            //$("#numberDiv").hide();
            //$("#newWTDiv").hide();
            $("#reasonDiv").hide();
            $("#ActualTruckNumDiv").hide();
            $("#ActualDriverNameDiv").hide();
            $("#MigoDiv").hide();
            //$("#MigoDiv").hide();
            //$("#ActualDestinationDiv").hide();
            //$("#opWeighinDiv").hide();
            //$("#opPickingDiv").hide();




            $("#btnATCSearch").on('click', function () {
                var atc = $("#atc").val();


                var msg = "";
                if (atc == "") { msg = "Please enter ATC! \n"; }


                if (msg != "") {
                    alert(msg);

                    return false;
                }
                $("#btnATCSearch").attr("disabled", "disabled");

                var token = $('[name=__RequestVerificationToken]').val();
                setTimeout(function () {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("DoFetchTradeDetailsForZSTOMovement", "Home")',
                        async: true,
                        data: {
                            __RequestVerificationToken: token,
                            atc: atc,

                        },
                        error: function (data) {
                            debugger;

                            alert(data);
                        },
                        success: function (data) {
                            if (data.status == false) {

                                pause_sensor = false;
                                $("#btnATCSearch").removeAttr("disabled");
                                alert(data.msg);
                                console.log(data.excptn);


                            }
                            else {

                                $("#atc").val(data.atc);
                                $("#txtTruckNum").val(data.operatorWeighIn);
                                $("#txtDriverName").val(data.spareStr6);                               
                                
                                $("#txtStoLoc").val(data.Transaction_Type);

                                $("#txtTransporter").val(data.Tare);


                                var mmm = moment(data.FirstDateTime).format('DD/MM/YYYY HH:mm');
                                $("#txtSender").val(mmm);
                                
                                $("#txtTrip").val(data.sender);
                                $("#txtReceiver").val(data.receiver);
                                $("#txtActualTruckNumber").val(data.vehicle);
                                $("#txtDestination").val(data.receiver);
                                $("#txtNumberOfBags").val(data.transporter_name);
                                //$("#txtPlateNum").val(data.truckNumber);
                                //$("#txtActualDriverName").val(data.TruckDriverName);
                                $("#txtActualTransType").val(data.waybill);
                                //$("#txtActualDestination").val(data.truckDestination);
                                //$("#txtActualWeighin").val(data.operatorWeighin);
                               //$("#txtActualPicking").val(data.operatorPicking);

                                $("#atc").attr("disabled", "disabled");

                                $("#txtRequestBy").val(data.operatorID);




                                $("#txtTruckNum").attr("disabled", "disabled");
                                $("#txtDriverName").attr("disabled", "disabled");
                                $("#txtStoLoc").attr("disabled", "disabled");
                                $("#txtTransporter").attr("disabled", "disabled");
                                $("#txtSender").attr("disabled", "disabled");
                                $("#txtDestination").attr("disabled", "disabled");
                                $("#txtTrip").attr("disabled", "disabled");
                                $("#txtReceiver").attr("disabled", "disabled");
                                $("#txtActualTruckNumber").attr("disabled", "disabled");
                                $("#txtNumberOfBags").attr("disabled", "disabled");



                                $("#btnUpdate").show();
                                $("#truckDiv").show();
                                $("#tripDiv").show();
                                $("#senderDiv").show();
                                $("#stoLocDiv").show();
                                $("#destinationDiv").show();
                                $("#transDiv").show();
                                $("#driverDiv").show();
                                $("#receiverDiv").show();
                                $("#TruckDiv").show();
                                $("#ActualDriverNameDiv").show();
                                $("#ActualTruckNumDiv").show();                               
                                $("#reasonDiv").show();
                                $("#numberDiv").show();



                                 //var url = "";
                                //url = '@Url.Action("STO_Modify", "Home")'; //Default


                            }

                        },


                    });
                })
            });


            $("#btnUpdate").on('click', function () {

                var atc = $("#atc").val();
                var weiginOp = $("#txtTruckNum").val();
                var drvName = $("#txtDriverName").val();
                var transact_Type = $("#txtStoLoc").val();
                var firstWeight = $("#txtTransporter").val();
                var weighInDate = $("#txtSender").val();
                var destination = $("#txtDestination").val();
                var sender = $("#txtTrip").val();
                var receiver = $("#txtReceiver").val();
                var ActualTruckNum = $("#txtActualTruckNumber").val();

            
                var reason = $("#txtReason").val();
                var trip_id = $("#txtPlateNum").val();
                var sto_loc = $("#txtActualDriverName").val();
                var waybill = $("#txtActualTransType").val();
                //var ActualDestination = $("#txtActualDestination").val();
                //var ActualWeighin = $("#txtActualWeighin").val();
                var ActualPicking = $("#txtActualPicking").val();
                var Transporter_name = $("#txtNumberOfBags").val();
                var vehiclex = $("#txtActualTruckNumber").val();





                var msg = "";
                if (reason == "") { msg = "Please enter Reason for this Movement! \n" ; }
                if (trip_id == "") { msg += "Please enter Trip ID! \n"; }
                if (sto_loc == "") { msg += "Please enter Correct Storage Location! \n"; }
               



                if (msg != "") {
                    alert(msg);

                    return false;
                }

                var token = $('[name=__RequestVerificationToken]').val();
                //debugger;
                 setTimeout(function () {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("DoMoveToZSTORequest", "Home")',
                        async: true,
                        data: {
                            __RequestVerificationToken: token,
                            atc: atc,
                            weiginOp: weiginOp,
                            drvName: drvName,
                            transact_Type: transact_Type,
                            firstWeight: firstWeight,
                            weighInDate: weighInDate,
                            destination: destination,
                            sender: sender,
                            receiver: receiver,
                            ActualTruckNum: ActualTruckNum,
                            reason: reason,
                            trip_id: trip_id,
                            sto_loc: sto_loc,
                            Transporter_name: Transporter_name,
                            vehiclex: vehiclex,
                            waybill: waybill,
                            //ActualTransType: ActualTransType,
                            //ActualDestination: ActualDestination,
                            //ActualWeighin: ActualWeighin,
                            //ActualPicking: ActualPicking,

                        },
                        error: function (data) {
                            debugger;

                            alert(data);
                        },
                        success: function (data) {
                            if (data.status == false) {

                                pause_sensor = false;
                                alert(data.msg);
                                console.log(data.excptn);

                            }
                            else {



                                alert(data.msg);
                                $("#atc").val("");
                                $("#txtTruckNum").val("");
                                $("#txtDriverName").val("");
                                $("#txtStoLoc").val("");
                                $("#txtTransporter").val("");
                                $("#txtDestination").val("");
                                $("#txtSender").val("");
                                $("#txtTrip").val("");
                                $("#txtReceiver").val("");
                                $("#txtActualTruckNumber").val("");
                                $("#txtNumberOfBags").val("");
                                //$("#txtNewWtToBeAdded").val("");
                                $("#txtReason").val("");
                                $("#txtPlateNum").val("");
                                $("#txtActualDriverName").val("");
                                //$("#txtActualTransType").val("");
                                //$("#txtActualDestination").val("");
                                //$("#txtActualWeighin").val("");
                                $("#txtActualPicking").val("");


                                $("#btnUpdate").hide();
                                $("#truckDiv").hide();
                                $("#tripDiv").hide();
                                $("#senderDiv").hide();
                                $("#stoLocDiv").hide();
                                $("#destinationDiv").hide();
                                $("#transDiv").hide();
                                $("#driverDiv").hide();
                                $("#TruckDiv").hide();
                                $("#numberDiv").hide();
                                //$("#newWTDiv").hide();
                                $("#reasonDiv").hide();
                                $("#receiverDiv").hide();
                                $("#ActualTruckNumDiv").hide();
                                $("#ActualDriverNameDiv").hide();



                                $("#btnATCSearch").removeAttr("disabled");
                                $("#atc").removeAttr("disabled");



                                 var url = "";
                                url = '@Url.Action("MaterialToZSTO", "Home")'; //Default


                            }

                        },


                    });





                 }, 200);
            });

        });

    </script>

    <div class="container">

        <div class="mws-panel grid_8">
            <div class="mws-panel-header">
                <span>MOVE FROM INBOUND/OUTBOUND TO ZSTO</span>
            </div>
            <div class="mws-panel-body no-padding">
                <form class="mws-form" action="form_layouts.html">
                    @Html.AntiForgeryToken()
                    <div class="mws-form-inline">
                        <div class="mws-form-cols">
                            <div class="mws-form-col-5-8">
                                <label class="mws-form-label">DELIVERY NUMBER*</label>
                                <div class="mws-form-item">
                                    @*<input type="text" id="atc" placeholder="enter ATC..." class="large">*@
                                    <input type="text" id="atc" placeholder="enter delivery number..." class="large">
                                </div>
                            </div>
                            <div class="mws-form-col-1-8">
                                <label id="lblGO" class="mws-form-label">.</label>
                                <div class="mws-form-item">
                                    @*<button id="btnATCSearch" class="btn btn-primary" type="button"><i class="fa fa-key"></i> GO</button>*@
                                    <button id="btnATCSearch" class="btn btn-primary" type="button"><i class="fa fa-key"></i> GO</button>
                                </div>
                            </div>
                        </div>
                        <br />

                        <div id="truckDiv" class="mws-form-row">
                            <label class="mws-form-label">Truck Weighed In By</label>
                            <div class="mws-form-item">
                                <input type="text" id="txtTruckNum" class="small">

                            </div>
                        </div>

                        <div id="senderDiv" class="mws-form-row">
                            <label class="mws-form-label">Truck Weigh In Date</label>
                            <div class="mws-form-item">
                                <input type="text" id="txtSender" class="small">
                            </div>
                        </div>
                        <div id="driverDiv" class="mws-form-row">
                            <label class="mws-form-label">Drivers Name</label>
                            <div class="mws-form-item">
                                <input type="text" id="txtDriverName" class="small">
                            </div>
                        </div>
                        <div id="destinationDiv" class="mws-form-row">
                            <label class="mws-form-label">Destination</label>
                            <div class="mws-form-item">
                                <input type="text" id="txtDestination" class="small">
                            </div>
                        </div>
                        <div id="stoLocDiv" class="mws-form-row">
                            <label class="mws-form-label">Weigh In Type (INB/OBD)</label>
                            <div class="mws-form-item">
                                <input type="text" id="txtStoLoc" class="small">
                            </div>
                        </div>
                        <div id="transDiv" class="mws-form-row">
                            <label class="mws-form-label">First Weight (Gross or Tare)</label>
                            <div class="mws-form-item">
                                <input type="text" id="txtTransporter" class="small">
                            </div>
                        </div>


                        <div id="receiverDiv" class="mws-form-row">
                            <label class="mws-form-label">Destination Plant</label>
                            <div class="mws-form-item">
                                <input type="text" id="txtReceiver" class="small">
                            </div>
                        </div>
                        <div id="tripDiv" class="mws-form-row">
                            <label class="mws-form-label">Sender</label>
                            <div class="mws-form-item">
                                <input type="text" id="txtTrip" class="small">
                            </div>
                        </div>
                        <div id="TruckDiv" class="mws-form-row">
                            <label class="mws-form-label">Truck Number</label>
                            <div class="mws-form-item">
                                <input type="text" id="txtActualTruckNumber" class="small">
                            </div>
                        </div>
                        <div id="numberDiv" class="mws-form-row">
                            <label class="mws-form-label">Transporter Name</label>
                            <div class="mws-form-item">
                                <input type="text" id="txtNumberOfBags" class="small">
                            </div>
                        </div>
                        @*<div id="newWTDiv" class="mws-form-row">
                            <label class="mws-form-label">Enter New Weight to Be Added</label>
                            <div class="mws-form-item">
                                <input type="number" id="txtNewWtToBeAdded" class="small">
                            </div>
                        </div>*@
                        <div id="reasonDiv" class="mws-form-row">
                            <label class="mws-form-label">Reason For Moving to ZSTO</label>
                            <div class="mws-form-item">
                                <input type="text" id="txtReason" class="small">
                            </div>
                        </div>
                        <div id="ActualTruckNumDiv" class="mws-form-row">
                            <label class="mws-form-label">Trip ID</label>
                            <div class="mws-form-item">
                                <input type="text" id="txtPlateNum" class="small">
                            </div>
                        </div>
                        <div id="ActualDriverNameDiv" class="mws-form-row">
                            <label class="mws-form-label">Storage Location</label>
                            <div class="mws-form-item">
                                <input type="text" id="txtActualDriverName" class="small">
                            </div>
                        </div>
                        <div id="MigoDiv" class="mws-form-row">
                            <label class="mws-form-label">Waybill</label>
                            <div class="mws-form-item">
                                <input type="text" id="txtActualTransType" class="small">
                            </div>
                        </div>
                        @*<div id="ActualDestinationDiv" class="mws-form-row">
                            <label class="mws-form-label">Actual Destination</label>
                            <div class="mws-form-item">
                                <input type="text" id="txtActualDestination" class="small">
                            </div>
                        </div>*@
                        @*<div id="opWeighinDiv" class="mws-form-row">
                            <label class="mws-form-label">OP WeighIN</label>
                            <div class="mws-form-item">
                                <input type="text" id="txtActualWeighin" class="small">
                            </div>
                        </div>*@
                        @*<div id="opPickingDiv" class="mws-form-row">
                            <label class="mws-form-label">Op Picking</label>
                            <div class="mws-form-item">
                                <input type="text" id="txtActualPicking" class="small">
                            </div>
                        </div>*@



                    </div>
                    <div class="mws-button-row">

                        <button id="btnUpdate" class="btn btn-primary" type="button"><i class="fa fa-key"></i> MOVE TO ZSTO</button>
                    </div>
                </form>
            </div>
        </div>



    </div>

</body>

